/* Основные стили */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: transform 0.3s ease-in-out;
	background-color: rgba(252, 249, 246, 0.8);
}

.header.hidden {
	transform: translateY(-100%);
	transition: transform 0.3s ease-in-out;
}

.no-scroll {
	overflow: hidden;
}

/* Кнопка бургера */
.header__burger_btn {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
	z-index: 11;
}

.header__burger_btn span {
	position: absolute;
	width: 30px;
	height: 2px;
	background-color: black;
	left: 5px;
	transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger_btn span:nth-child(1) {
	transform: translateY(-10px);
}

.header__burger_btn span:nth-child(3) {
	transform: translateY(10px);
}

.header.open .header__burger_btn span:nth-child(2) {
	opacity: 0;
}

.header.open .header__burger_btn span:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}

.header.open .header__burger_btn span:nth-child(3) {
	transform: translateY(0) rotate(-45deg);
}

/* Контейнер */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

/* Шапка */
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Меню */
.menu {
	display: flex;
	justify-content: center;
	flex-grow: 1;
}

.nav {
	display: flex;
	list-style-type: none;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav-links {
	color: #402715;
	text-decoration: none;
	font-size: 22px;
	cursor: pointer;
	transition: 0.5s;
}

.menu__item {
	padding-right: 20px;
}

.nav-links:hover {
	text-decoration: underline solid chocolate 2px;
}

#nav__logo {
	display: block;
}

#logo {
	height: 70px;
	width: 70px;
}

/* Мобильная версия */
@media (max-width: 992px) {
	.header {
		position: fixed;
	}

	.header__burger_btn {
		display: block;
		color: #fcf9f6;
	}

	.menu {
		position: fixed;
		top: -280%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #453430;
		padding: 60px 20px;
		transition: transform 0.5s, top 0.5s;
		z-index: 9;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.nav-links {
		color: #fff5e1;
		font-size: 27px;
		display: block;
		padding: 13px 0;
	}

	.nav-links:hover {
		text-decoration: underline #faede0 2px;
	}

	.header.open .menu {
		top: 0;
	}

	.header.open .header__burger_btn span {
		background-color: #fff5e1;
	}
}
